@import "tailwindcss";
@import "./styles/theme.css";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-background text-foreground;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
